@tailwind base;
@tailwind components;
@tailwind utilities;

/* Editor.js custom styling */
.ce-block__content,
.ce-toolbar__content {
    max-width: 100%;
}

.codex-editor__redactor {
    padding-bottom: 0 !important;
}

.ce-toolbar__plus,
.ce-toolbar__settings-btn {
    color: #5c7c89;
}

.dark .ce-toolbar__plus,
.dark .ce-toolbar__settings-btn {
    color: #7f9aa5;
}

.ce-block {
    color: inherit;
}

.ce-code__textarea {
    background: #0a0f22;
    color: #ffffff;
    border-radius: 0.5rem;
    padding: 1rem;
}